[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
	lga = lg --all
	count = shortlog -sn
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	# Undo the last commit, leaving your staging area the same as just before you committed
	undo = reset --soft HEAD^
	adog = log --all --decorate --oneline --graph
	agda = log --all --graph --decorate --abbrev-commit
	c = commit
	cA = commit -a
	ca = commit --amend
	cp = commit -p
	co = checkout
	f = fetch
	F = pull
	p = push
	pf = push --force-with-lease
	fa = fetch --all
	st = status
	rb = rebase
	rbi = rebase -i
	sts = status --short
	d = diff
	ds = diff --staged
	cob = checkout -b
	sh = show
[diff]
	tool = nvim
[merge]
	tool = nvim
[core]
	precomposeunicode = true
	# Display UTF-8 characters in filenames, if you're having problems seeing them
	quotepath = false
	excludesfile = .config/git/gitignore_global
	autocrlf = input
	whitespace = error
[help]
	# Auto-corrects typos, with a short delay and a warning message (e.g. git commit)
	autocorrect = 1
[user]
	name = Emil Vågstedt
	email = emil.vagstedt@icloud.com
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[rerere]
	enabled = true
[push]
	autoSetupRemote = true
[sendemail]
	annotate = yes
[include]
	path = ~/.config/git/gitconfig-private
[includeIf "gitdir:~/repos/work/"]
	path = ~/.config/git/gitconfig-work
[github]
	user = emilknievel
