[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
	lga = lg --all
	count = git shortlog -sn
	pf = push --force-with-lease
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	# Undo the last commit, leaving your staging area the same as just before you committed
	undo = reset --soft HEAD^
[diff]
	tool = nvim
[merge]
	tool = nvim

[core]
	editor = nvim
	precomposeunicode = true
	# Display UTF-8 characters in filenames, if you're having problems seeing them
	quotepath = false
	excludesfile = .config/git/gitignore_global
	pager = delta
	autocrlf = input

[help]
	# Auto-corrects typos, with a short delay and a warning message (e.g. git commit)
	autocorrect = 1
[includeIf "gitdir:~/stuff/"]
	path = ~/.config/git/gitconfig-personal
[includeIf "gitdir:~/projects/"]
	path = ~/.config/git/gitconfig-work
[init]
	defaultBranch = main
[rebase]
	autosquash = true
