[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
	lga = lg --all
	count = shortlog -sn
	pf = push --force-with-lease
	gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	# Undo the last commit, leaving your staging area the same as just before you committed
	undo = reset --soft HEAD^
	adog = log --all --decorate --oneline --graph
	agda = log --graph --abbrev-commit --decorate --all
	cc = commit
	co = checkout
	f = fetch
	p = push
	fa = fetch --all
	st = status
	rb = rebase
	sts = status --short
	d = diff
	ds = diff --staged
[diff]
	tool = nvim
[merge]
	tool = nvim

[core]
	editor = vim
	precomposeunicode = true
	# Display UTF-8 characters in filenames, if you're having problems seeing them
	quotepath = false
	excludesfile = .config/git/gitignore_global
	pager = delta
	autocrlf = input

[help]
	# Auto-corrects typos, with a short delay and a warning message (e.g. git commit)
	autocorrect = 1
[includeIf "gitdir:~/stuff/"]
	path = ~/.config/git/gitconfig-personal
[includeIf "gitdir:~/projects/"]
	path = ~/.config/git/gitconfig-work
[include]
	# Import ${XDG_CONFIG_HOME:-$HOME/.config}/tinted-theming/delta.gitconfig.
	# It will set delta.light=(true|false):
	path = ~/.config/tinted-theming/delta.gitconfig
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[delta]
	syntax-theme = "ansi"
